div
{
    display: inline-block;
}
.text {
  border:1px;
}
table{
  width: 100%;
  border-collapse: collapse;
}
.GRANTED{
  background-color: #cceecc;
}
.DENIED{
  background-color: #ffcccc;
}
.DISMISSED{
  background-color: #ffcccc;
}
.REMOVED{
  background-color: #ffcccc;
}
.GVR{
  background-color: #ccccff;
}
.RELISTED{
  background-color: khaki;
}
.tooltiptext{
  display: none;
}
.header{
  text-align: left;
}
.conf{
  border: 1px;
}
table, th, td {
  border: 1px solid black;
}
#.PENDING:nth-child(even) {background-color: #f2f2f2;}
