div
{
    display: inline-block;
}
.text {
    border:1px;
}
table{
  width: 100%;
}
.GRANTED{
  background-color: #cceecc;
}
.DENIED{
  background-color: #ffcccc;
}
.RELISTED{
  background-color: khaki;
}
