div
{
    display:block;
}
.text {
  border:1px;
}
table{
  width: 100%;
  border-collapse: collapse;
}
.GRANTED{
  background-color: #cec;
}
.ARGUED{
  background-color: #cec;
}
.DENIED{
  background-color: #fcc;
}
.DISMISSED{
  background-color: #fcc;
}
.REMOVED{
  background-color: #fcc;
}
.GVR{
  background-color: #ccf;
}
.RELISTED{
  background-color: khaki;
}
.tooltiptext{
  display: none;
}
.header{
  text-align: left;
}
#conf{
  border: 1px;
}
table, th, td {
  border: 1px solid black;
}
